<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <meta name="author" content="Xinyi Yan" />
    <meta charset="utf-8" />
    <style>
        body  {
            background-image: url("../static/background.jpg");
            background-repeat: repeat;
        }
    </style>
</head>
    <body>
        <div id=”navigation”>
            <ul id="menu">
                <li><a href="index"> Home </a></li>
                <li><a href="about"> About us </a></li>
                <li><a href="contact"> Contact us </a></li>
            </ul>
        </div><br>

        <br> About Me
        <br> Hello, thank you. Thank you very much.

        <footer class=centralizeFooter>
            <a href="index"> Home </a>
            <a href="about"> About us </a>
            <a href="contact"> Contact us </a>
        </footer>
    </body>
</html>

