<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home</title>
        <!--<link href="../css/style.css" rel="stylesheet" type="text/css" />-->
        <link rel="stylesheet" href="../static/css/style.css" />
        <meta name="author" content="Xinyi Yan" />
        <meta charset="utf-8" />
        <style>
            body  {
                background-image: url("../static/background.jpg");
                background-repeat: repeat;
            }
        </style>
	</head>
	<body>
        <div id=”navigation”>
            <ul id="menu">
                <li><a href="index"> Home </a></li>
                <li><a href="about"> About us </a></li>
                <li><a href="contact"> Contact us </a></li>
            </ul>
        </div>

        <div>
            <br>
            <h1> Main Page </h1>

            <h2>
                <a href="blog/8-experiments-in-motivation"> 8 Experiments in Motivation </a>
            </h2>
            <h2>
                <a href="blog/a-mindful-shift-of-focus"> A Mindful Shift of Focus </a>
            </h2>
            <h2>
                <a href="blog/how-to-develop-an-awesome-sense-of-direction"> How to Develop an Awesome Sense of Direction </a>
            </h2>
            <h2>
                <a href="blog/training-to-be-a-good-writer"> Training to Be a Good Writer </a>
            </h2>
            <h2>
                <a href="blog/what-productivity-systems-wont-solve"> What Productivity Systems Won't Solve </a>
            </h2>
        </div>
		<footer class=centralizeFooter>
            <a href="index"> Home </a>
            <a href="about"> About us </a>
            <a href="contact"> Contact us </a>
		</footer>

		<script src="../static/js/script.js"></script>
	</body>
</html>
	
